
      * {
        margin: 0;
        padding: 0;
      }
      .box-fixed {
        width: 200px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        background-color: #1cc521;
        font-size: 25px;
        color: #000;
        font-weight: bold;
        position: fixed; 
        
      }
      .TL {
        top: 0px;
        left: 0px;
      }
      .TC {
        top: 0px;
        left: 50%;
        margin-left: -100px;
      }
      .TR {
        top: 0px;
        right: 0px;
      }
      .RC {
        right: 0px;
        top: 50%;
       margin-top: -50px;
      }
      .BR {
        bottom: 0px;
        right: 0px;
      }
      .BC {
        bottom: 0px;
        left: 50%;
        margin-left: -100px;;

      }
      .BL {
        bottom: 0px;
        left: 0px;
      }
      .LC {
       top: 50%;
        left: 0px;
        margin-top: -50px;
      }
      .box-center {
        width: 200px;
        height: 100px;
        top: 50%;
        margin-top: -50px;
        left: 50%;
        margin-left: -100px;
        text-align: center;
        line-height: 100px;
        background-color: #210978;
        font-size: 25px;
        color: #000;
        font-weight: bold;
        
      }
      .box-child {
        width: 80px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background-color: #912828;
        font-size: 20px;
        color: #000;
        font-weight: bold;
        position: absolute;
      }
      .ctl {
        top: -60px;
        left: -80px;
     }
     .ctr {
      top: -60px;
      right: -80px;
     }
     .cbr {
      bottom: -60px;
      right: -80px;
     }
     .cbl {
      bottom: -60px;
      left: -80px;
     }



      
 

